<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Recommendations</title>

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loginWrapper">
        <h1>Log in</h1>
        <form id="login">
            <div class="inputWrapper">
                <input type="text" name="username">
                <span>Username</span>
            </div>
            <div class="inputWrapper">
                <input type="password" name="password">
                <span>Password</span>
            </div>
            <button id="loginButton">Log in</button>
            <p>New to us? <a id="signup" href="">Join now!</a></p>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/index.js') }}"></script>
</body>
</html>